cat > .gitignore << 'EOF'
# Build e IDE
bin/
obj/
.vs/
*.user
*.suo

# Publicação
publish/

# Logs
src/LoanSimulatorWebApi/Logs/log-*

appsettings.Development.json
appsettings.Production.json
appsettings.Local.json
EOF

# Dados do Sql Server
src/data/*
!src/data/initial.sql

# Certificados Digitais
src/LoanSimulatorWebApi/certs/*